<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>
</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" th:href="@{/View/}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#" th:href="@{/order/allproducts}" class="w3-bar-item w3-button w3-padding-large w3-hide-small"  >PRODUCTS</a>
    <a  class="w3-bar-item w3-button w3-padding-large w3-hide-small">ORDERS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    
      <div class="w3-dropdown-content w3-bar-block w3-card-4">

</div>
</div>
</div>


    <div class="container">
      <div th:if="${not #lists.isEmpty(user)}">
          <h1>Product List</h1>
        <table class="highlight">
            <thead>
            </thead>
            
                <tbody>
                    <tr th:each="product: ${user}">
                        <td>
                        <form method="post" action="#" th:action="@{/user/update}" th:object="${user}" id="signUp" role="form">
                            <!--<div class="form-title " > Registration Form</div>-->
                             <div class="form-group">
                                <label for="txtFname"><span class="req" ></span> User ID:</label>
                                <input class="form-control" type="text" name="firstName" id="txtFname" required="true" th:value="${user.id}" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label for="txtFname"><span class="req" ></span> First Name:</label>
                                <input class="form-control" type="text" name="firstName" id="txtFname" required="true" th:value="${user.firstName}"   />
                            </div>
                             <div class="form-group">
                                <label for="txtFname"><span class="req" ></span> Last Name:</label>
                                <input class="form-control" type="text" name="firstName" id="txtFname" required="true" th:value="${user.lastName}"   />
                            </div>
                            <div class="form-group">
                                <label for="txtFname"><span class="req" ></span> Email Name:</label>
                                <input class="form-control" type="text" name="firstName" id="txtFname" required="true" th:value="${user.emailId}" />
                            </div>
                            <div class="form-group">
                                <label for="txtFname"><span class="req" ></span> Shop Name:</label>
                                <input class="form-control" type="text" name="firstName" id="txtFname" required="true" th:value="${user.shopId}"/>
                            </div>
                            <div class="form-group">
                                <label for="txtFname"><span class="req" ></span> Password:</label>
                                <input class="form-control" type="text" name="firstName" id="txtFname" required="true" th:value="${user.password}"/>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success btn-primary" type="submit" name="submit_reg"
                                       value="Update"/>
                             </div>
                            </form>
                        </td>
                        
                         
                         
                          
                         
                    </tr>
                 
                 </tbody>
              
        </table>
      </div>
    </div>
    <div>
    		
    </div>
</body>
</html>