<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>
</head><body>

<div class="container-fluid">
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-6  col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New User
                           
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="#" th:action="@{/user/adduser}" th:object="${user}" id="signUp" role="form">
                            <!--<div class="form-title " > Registration Form</div>-->
                             <div class="form-group">
                                <label for="txtFname"><span class="req">* </span>User Name: </label>
                                <input class="form-control" type="text" name="userName" id="txtUname" required="true" th:field="*{username}"/>
                            </div>                                                   
                            <div class="form-group">
                                <label for="txtLname"><span class="req">* </span> Email: </label>
                                <input class="form-control" type="text" name="email" id="txtemail" required="true" th:field="*{email}"/>
                            </div>
                             
                            <div class="form-group">
                                <label for="txtLname"><span class="req">* </span> password: </label>
                                <input class="form-control" type="text" name="password" id="txtshop" required="true" th:field="*{password}"/>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success btn-primary" type="submit" name="submit_reg"
                                       value="Register"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
